@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<hr />
	<hr />
	
    <p>
        <a asp-controller="Reserves" asp-action="Index" type="button" class="btn btn-primary btn-lg">Reserve Food</a>
        <a class="btn btn-default btn-lg">Look for Dormitory?</a>
    </p>
</div>
